html,
body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
    padding-left: 200px;

}

body.no-scroll {
    overflow: hidden;
}

main {
    box-sizing: border-box;
    min-height: 100%;
    padding: 20px;
}

ul{
    list-style: none;
    text-decoration: none;
}
