.mainRoutes {

}

aside {
    --bg-default: #222;
    --bg-list: #444;
    --bg-list-disabled: #303030;
    --bg-list-active: #58a;
    --bg-list-open: #457;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 199px;
    border-right: 1px solid var(--bg-default);
    background-color: var(--bg-default);
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    display: block;
    width: 100%;
    border: 0;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    text-align: left;
    padding: 10px 20px;
    cursor: pointer;
}