.container {
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-height: 300px;
}

.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.item {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: 25%;
    min-height: fit-content;
}



/* 탭 버튼 공통 스타일 */
.tab {
    padding: 15px 0 15px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
}


/* 내용 영역 공통 스타일 */
.description {
    display: none;
    padding: 35px 0 20px 20px;
}

/* 활성화 상태 스타일 */
.item.current .tab {
    background-color: #bde; /* 활성화된 탭 배경색 */
}

.item.current .description {
    display: block; /* 활성화된 탭의 내용 표시 */
}


